body {
    font: 16px 'Source Sans Pro', sans-serif;
    padding: 0;
    margin: 0;
    color: #2b2b2b;
}

/* ----GLOBAL------ */

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Lora', serif;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 32px;
}


/* HEADER */

header {
    background: url("../img/desertbgedit.png");
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #title {
    float: left;
}

header #title h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header a:hover {
    color: #055B4A;
    font-weight: bold;
}

/* ABOUT */

#about {
    min-height: 200px;
    color: #7f7f7f;
    text-align: left;
}

#about p {
    font-size: 20px;
    padding-right: 30px;
}

#about .half-width {
    float: left;
    height: 175px;
    width: 50%;
}

/* SKILLS */

#skills {
    background-color: #d09478;
    color: #ffffff;
}

/* PROJECTS */

#projects .third-width {
    float: left;
    width: 30%;
    padding: 10px;
    text-align: left;
}

#projects .third-width img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    height: 150px;
    width: 250px;
}

#projects h3,
#projects a {
    color: #C49075;
}

#projects h3:hover,
#projects a:hover {
    color: #055B4A;
}

/* FOOTER */

footer {
    background-color: #d09478;
    color: #ffffff;
    padding: 20px;
    margin-top: 20px;
}

footer h2 {
    text-align: left;
}

footer ul {
    margin-top: 20px;
}

footer ul li {
    display: inline;
    padding: 20px 20px 0 0;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {

header #title,
header nav,
header nav li,
#projects .third-width,
#about .half-width {
    float: none;
    text-align: center;
    width: 100%;
}

header {
    padding-bottom: 20px;
}

#about .half-width {
    display: inline;
    height: 150px;
    width: 50%;
}

#about .half-width p {
    text-align: left;
}

}
