body {
    font: 16px 'Source Sans Pro', sans-serif;
    padding: 0;
    margin: 0;
    color: #2b2b2b;
}

/* ----GLOBAL------ */

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h2 {
    font-family: 'Lora', serif;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 32px;
}


/* HEADER */

header {
    background: url("../img/desert-vector.jpeg");
    background-size: cover;
    background-position: bottom;
    color: #ffffff;
    padding-top: 70px;
    min-height: 70px;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #title {
    float: left;
    font-size: larger;
}

header #title h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 5px;
}

header a:hover {
    color: #FDCD09;
}

/* ABOUT */

#about {
    min-height: 500px;
    color: #7f7f7f;
    text-align: left;
}

#about p {
    font-size: 25px;
    padding-bottom: 20px;
}

#about br {
    display: block;
    content: "";
    margin-top: 20px;
}

#about .half-width {
    float: left;
    max-height: 635px;
    width: 50%;
}

#about .half-width img {
    margin-left: 100px;
    display: block;
    width: 90%;
}

/* SKILLS */

#skills {
    background-color: #C53B1F;
    color: #ffffff;
    min-height: 375px;
}

#skills .half-width {
    float: left;
    height: 310px;
    width: 50%;
}

#skills ul {
    margin: 10px 0 0 20px;
    padding-left: 5px;
    font-size: 25px;
}

/* PROJECTS */

#projects .third-width {
    float: left;
    width: 30%;
    padding: 10px;
    text-align: left;
    height: 360px;
}

#projects .third-width img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    height: 150px;
    width: 250px;
    max-width: 100%;
}

#projects h2 {
    padding-left: 10px;
}

#projects h3,
#projects a {
    color: #C53B1F;
}

#projects h3:hover,
#projects a:hover {
    color: #055B4A;
}

/* FOOTER */

footer {
    background-color: #C53B1F;
    color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    height: 200px;
}

footer h2 {
    text-align: center;
}

footer ul {
    margin-top: 20px;
    text-align: center;
}

footer ul li {
    display: inline;
    padding: 20px 40px 0 0;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {

header #title,
header nav,
header nav li,
#projects .third-width,
#about .half-width,
#skills .half-width {
    float: none;
    text-align: center;
    width: 100%;
}

header {
    padding-top: 30px;
    padding-bottom: 20px;
}

#about .half-width {
    display: inline;
    height: 150px;
    width: 50%;
}

#about .half-width img {
    width: 40%;
    padding-bottom: 20px;
    margin: auto;
}

#about .half-width p,
#skills .half-width ul {
    text-align: left;
}

#about .half-width p {
    font-size: 20px;
    max-height: 5000px;
}

#skills {
    min-height: 550px;
}

#skills .half-width {
    height: 250px;
}

#projects h2 {
    text-align: center;
}

footer ul li {
    padding: 20px 20px 0 0;
}

}
