:root {
    --primary: #CE5D18;
    --secondary: #8A2337;
}

body {
    color: #2b2b2b;
    font: 1em 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}

/* ----GLOBAL------ */

.container {
    margin: auto;
    overflow: hidden;
    width: 80%;
}

h2 {
    font-family: 'Lora', serif;
    font-size: 3em;
    margin-bottom: 20px;
    margin-top: 50px;
}


/* HEADER */

header {
    background: url("../img/desert-vector.jpeg") darkred;
    background-position: bottom;
    background-size: cover;
    color: #ffffff;
    min-height: 70px;
    padding-top: 70px;
}

header a {
    color: #ffffff;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
}

header li {
    display: inline;
    float: left;
    padding: 0 20px 0 20px;
}

header #title {
    float: left;
    font-size: larger;
}

header #title h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 5px;
}

header a:hover {
    color: #FDCD09;
}

/* ABOUT */

#about {
    background-color: #C53B1F;
    color: #000;
    min-height: 500px;
    text-align: left;
}

#about p {
    background: #fff;
    border-radius: 50px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
    display: block;
    font-size: 1.5625em;
    margin-top: 50px;
    padding: 30px 20px 30px 20px;
}

#about br {
    content: "";
    display: block;
    margin-top: 20px;
}

.focus-text {
    color: #C53B1F;
}

#about .half-width {
    float: left;
    max-height: 500px;
    padding: 20px 0 20px 0;
    width: 50%;
}

#about .half-width img {
    display: block;
    height: auto;
    margin-left: 100px;
    margin-top: 60px;
    width: 70%;
}

/* SKILLS */

#skills {
    background-color: #C53B1F;
    color: #000;
    min-height: 375px;
}

#skills .half-width {
    max-height: 500px;
    margin-bottom: 50px;
}

.card {
    height: 550px;
    margin: 20px 10px 20px 10px;
    perspective: 1000px;
    width: 400px;
}

#skills .container {
    display: flex;
    justify-content: space-around;
    overflow:visible;
}

  .card-inner {
    cursor: pointer;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    width: 100%;
  }
  
  .card-inner.is-flipped {
    transform: rotateY(180deg);
  }
  
  .card-face {
    backface-visibility: hidden;
    border-radius: 50px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
    height: 100%;
    overflow: hidden;
    position: absolute;
    -webkit-backface-visibility: hidden;
    width: 100%;
  }
  
  .card-face-front {
    align-items: center;
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    display: flex;
    justify-content: center;
  }
  
  .card-face-front h2 {
    color: #FFF;
    font-size: 3em;
    margin-bottom: 140px;
  }
  
  .card-face-back {
    background-color: var(--light);
    transform: rotateY(180deg);
  }
  
  .card-content {
    height: 100%;
    width: 100%;
  }
  
  .card-header {
    padding: 30px 30px 14px;
    position: relative;
  }
  
  .card-header:after {
    background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
    border-radius: 0px 0px 50% 0px;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .reverse {
    transform: scaleX(-1);
  }
  
  .skills {
    background-color: #FFF;
    border: 5px solid #FFF;
    border-radius: 50%;
    display: block;
    height: 100px;
    margin: 0 auto -57px;
    object-fit: cover;
    width: 100px;
  }
  
  .card-header h2 {
    color: #FFF;
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    margin-top: 77px;
  }
  
  .card-body {
    margin: -28px 20px 20px 20px;
    padding: 30px;
  }
  
  .card-body ul li {
    color: #fff;
    list-style: none;
    display: block;
    font-size: 1.5625em;
  }

  #skills ul {
    margin: 10px 0 0 0;
    padding: 0 0 30px 0px;
}

/* PROJECTS */

#projects {
    background-color: #fff;
}

#projects .container {
    overflow: visible;
}

.grid {
    display: grid;
    grid-gap: 16px;
    padding: 16px;
    grid-template-columns: 300px 300px;
    grid-template-rows: 25em 25em;
    margin-bottom: 40px;
    justify-content: center;
}

.col {
    background-color: #C53B1F;
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 20px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

#projects .third-width img {
    border-radius: 10px;
    display: block;
    width: 100%;
    max-width: 100%;
}

#projects h2 {
    margin-bottom: 50px;
    color: #C53B1F;
    text-align: center;
}

#projects h3 {
    text-align: center;
    color: #fff;
    font-size: 1em;
}

#projects h3,
#projects a,
#projects p {
    color: #fff;
}

#projects h3:hover,
#projects a:hover {
    color: #FDCD09;
}

#projects p {
    display: block;
    font-size: 1em;
    padding: 0px 20px 30px 20px;
}

/* FOOTER */

footer {
    background-color: #C53B1F;
    color: #ffffff;
    height: 250px;
    padding: 20px;
}

footer h2 {
    text-align: center;
}

footer ul {
    margin-top: 50px;
    text-align: center;
    padding-left: 0;
}

footer li {
    align-items: center;
    list-style: none;
    display: inline-block;
    padding: 20px;
}

/* -------------------- MEDIA QUERIES -------------------- */


@media (max-width: 1187px) {

    #about .half-width {
        display: inline;
        float: none;
        height: 500px;
        width: 50%;
    }
    
    #about .half-width img {
        padding-bottom: 20px;
        margin: auto;
        width: 50%;
    }

    #skills .half-width {
        display: flex;
        max-height: 540px;
        width: 90%;
        margin: 50px 15px 60px 15px;
        padding-right: 10px;
    }

    #skills ul {
        margin-top: 30px;
    }

}

@media (max-width: 768px) {

header #title,
header nav,
header nav li,
#projects .third-width,
#about .half-width {
    text-align: center;
    width: 100%;
}

header nav {
    margin-right: 40px;
}

header {
    padding-bottom: 20px;
    padding-top: 30px;
}

#about .half-width {
    display: inline;
    height: 150px;
    width: 50%;
}

#about .half-width img {
    margin: auto;
    padding-bottom: 20px;
    width: 40%;
}

#about .half-width p {
    text-align: left;
}

#about .half-width p {
    font-size: 1.25em;
    max-height: 5000px;
}

#skills {
    min-height: 550px;
    padding-left: 0;
}

#skills .half-width {
    width: 90%;
    margin-bottom: 80px;
    margin-top: 50px;
}

#skills .card.half-width {
    padding: 0;
}

#skills .half-width ul {
    padding-left: 10px;
    margin-top: 20px;
}

#skills .container {
    flex-wrap: wrap;
}

#projects h2 {
    text-align: center;
}

.grid {
    display: block;
    margin-bottom: 2px;
}

.col {
    padding: 9px;
    margin-bottom: 32px;
}

footer {
    height: 356px;
}

footer h2 {
    font-size: 2em;
}

footer li {
    padding: 10px;
    display: block;
}

}

@media (max-width: 280px) {

footer {
    height: 400px;
}

}

